body {
  background-color: powderblue;
}

h1 {
  color: darkcyan;
}

h3{
  color: darkcyan;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 7%;
}
